#btn {
  background-image: linear-gradient(to left, red, rgba(255, 179, 0, 0.949));
  width: 160px;
  height: 40px;
}
.section {
  width: 100%;
  height: 100%;
  /* padding: 2rem; */
}
#list_details2 {
  width: 87%;
  font-size: 0.9rem;
  margin-top: -10px;
}
.list_details {
  font-size: 1rem;
}
#grid {
  margin-left: 40px;
  margin-top: -22px;
}
#avtar {
  width: 100px;
  height: 100px;
}
#dis-icn {
  height: 39px;
  width: 39px;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10px;
}

.profileMainDiv {
  background-color: #f1f6f9;
}
#profile-head {
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.clockAnimation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13rem 0 13rem 0;
}

/* Apply margin to all child elements except the last one */
.clockAnimation > *:not(:last-child) {
  margin-bottom: 20px; /* Adjust the margin value as needed */
}

.rejectDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16rem 0 16rem 0;
}

.loaders {
  position: relative;
  background-color: rgb(219, 113, 52);
  width: 125px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 3em;
  top: -0.4em;
  border-radius: 25px;
  /* z-index: -1; */
  box-shadow: 5px 2px 0px #666666;
}

.clock {
  position: relative;
  top: -1.4em;
  left: 0.05em;
}

.stage {
  position: relative;
  left: 0.5em;
  background-color: black;
  width: 4em;
  height: 0.4em;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #666666;
  z-index: 4;
}

.hold {
  position: relative;
  background-color: limegreen;
  width: 0.1em;
  height: 4em;
  left: 2.5em;
  top: -0.25em;
  animation: 1.3s dangle infinite;
  box-shadow: 4px 4px 0px #666666;
  /* z-index: -1; */
}
#add-organization-btn{
  position: fixed;
    right: 30px;
    background: linear-gradient(to bottom right, #79d8f2, #d6a0f2, #f8f);
    bottom: 40px;
}

@keyframes dangle {
  0% {
    transform-origin: top center;
    transform: rotate(45deg);
  }

  50% {
    transform-origin: top center;
    transform: rotate(-45deg);
  }

  100% {
    transform-origin: top center;
    transform: rotate(45deg);
  }
}

.ball {
  display: inline-block;
  position: relative;
  top: 3em;
  left: -1.2em;
  width: 2.5em;
  height: 2.5em;
  margin: 0;
  border-radius: 50%;
  background: #171717;
  box-shadow: 1px 1px 0px #666666;
}

@media (min-width: 220px) and (max-width: 575px) {
  #btn {
    width: 140px;
  }
  .section {
    padding: 0rem;
  }
  #list_dt1 {
    width: 40%;
  }

  .list_details {
    font-size: 0.7rem;
  }
  #list_details1,
  #list_details2 {
    width: 10%;
    font-size: 0.85rem;
  }
  #list_details2 {
    font-size: 0.9rem;
  }
  #bx-ftr {
    gap: 20px;
    margin-left: -5px;
  }
  #dis-icn {
    display: none;
  }
}
@media (max-width: 280px) {
  #avtar {
    width: 60px;
    height: 60px;
  }
  #grid {
    margin-left: 30px;
  }
  .list_details {
    font-size: 0.6rem;
  }
  #list_details1,
  #list_details2 {
    width: 10%;
    font-size: 0.65rem;
  }
  #bx-ftr {
    gap: 13px;
    margin-left: 0px;
  }
  #bx-ftr p,
  #bx-ftr p > span {
    font-size: 0.5rem;
  }
  #btn {
    width: 120px;
  }
  #dis-icn {
    display: none;
  }
}
